<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SystemsSolver</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</head>

<body>
<div class="full-height center">
    <h1>Systems Solver</h1>
    <div>
        <form>
            <input type="button" value="Reset" id="reset">
        </form>
    </div>
    <div>
        <div>
            <h2>Variables</h2>
            <form>
                Var name:
                <input id="varName" type="text">
                Is inverted:
                <input type="checkbox" name="inverted" id="varInverted">
                <input type="button" value="Set" id="setVariable">
            </form>
            <ul id="currentVariables"></ul>
        </div>
        <div>
            <h2>Objectives</h2>
            <form>
                <select id="objectiveGoal">
                    <option value="maximize" selected="selected">Maximize</option>
                    <option value="minimize">Minimize</option>
                </select>
                <input id="objectiveExpression" type="text">
                <input type="button" value="Add" id="addObjective">
            </form>
            <ul id="currentObjectives"></ul>
        </div>
        <div>
            <h2>Constraints</h2>
            <form>
                <input type="text" id="constraintLeft">
                <select id="constraintSign">
                    <option value="=" selected="selected">=</option>
                    <option value="<"><</option>
                    <option value="<="><=</option>
                    <option value=">">></option>
                    <option value=">=">>=</option>
                    <option value="!=">!=</option>
                </select>
                <input type="text" id="constraintRight">
                <input type="button" value="Add" id="addConstraint">
            </form>
            <ul id="currentConstraints"></ul>
        </div>
        <div>
            <h2>Solution</h2>
            <form>
                Method:
                <select id="solverMethod">
                    <option value="simplex" selected="selected">Simplex</option>
                </select>
                <!--  Debug:
                <input type="checkbox" name="debug" id="solverDebug"> -->
                <input type="button" value="Solve!" id="solve">
            </form>
            <div id="solutionSpace">
                <ul id="solutionValues">

                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>